{% extends "base.twig" %}

{% block title %}Blog{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/assets/css/blog-style.css">
{% endblock %}

{% block content %}


<div class="blog-container">
    <br/>
    <h2>Blog Entries</h2>
    <br/>
    <br/>

    <div class="blog-page">
    <div class="entries">
        {% for entry in entries %}
            <div id="posts">
                <article class="card card-medium entry">
                    <div class="card-body">
                        <div>
                            <time pubdate="" datetime={{ entry.date|date("m/d/Y") }}>{{ entry.date|date("m/d/Y") }}</time>
                        </div>
                        <h3 class="primary">
                            <a href="/blog/{{ entry.id }}">{{ entry.title }}</a>
                        </h3>
                        <p class="block-with-text">{{ entry.content }}</p>
                        <div class="entry-description">
                            <p><strong>Author · </strong>{{ entry.user.username }}</p>
                            <a href="/blog/{{ entry.id }}" rel="bookmark">Read More</a>
                        </div>
                    </div>
                </article>
            </div>
        {% endfor %}
    </div>
    <div class="info"></div>
    </div>
</div>





{% endblock %}